@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Source+Sans+Pro&display=swap');
::content {
    max-width: 1600px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
    background-color: #2639485e;
}
nav a:hover {
    background-color: #000000;
    color: white;
}
#about {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#rage {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#about-img {
    width: 100%;
    margin-bottom: 35px;
}
#about-rivers {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 50px;
}
.rivers-title {
    color: white;
    font-family: "Black Ops One";
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: -20px;
}
#about-rivers h4 {
    color: white;
    font-family: "Source Sans", "Helvetica", "sans-serif";
}
.river-grid {
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
}
.snake-img, .salmon-img, .selway-img {
    margin: 50px 0;
    width: 300px;
    border: 10px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #264958a3;
}
.snake-img {
    grid-column: 2/3;
    grid-row: 1/4;
}
#snake-info {
    grid-column: 6/10;
    grid-row: 2/3;
    background-color: #364958;
    line-height: 1.5em;
    padding: 35px;
}
#snake-info h2 {
    color: white;
    font-family: "Black Ops One";
}
.salmon-img {
    grid-column: 2/3;
    grid-row: 4/7;
}
#salmon-info {
    grid-column: 6/10;
    grid-row: 5/6;
    background-color: #364958;
    line-height: 1.5em;
    padding: 35px;
}
#salmon-info h2 {
    color: white;
    font-family: "Black Ops One";
}
.selway-img{
    grid-column: 2/3;
    grid-row: 7/10;
}
#selway-info {
    grid-column: 6/10;
    grid-row: 8/9;
    background-color: #364958;
    line-height: 1.5em;
    padding: 35px;
}
#selway-info h2 {
    color: white;
    font-family: "Black Ops One";
}
#snake-info, #salmon-info, #selway-info {
    border: 2px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #264958a3;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #55828b;
    grid-column: 1/11;
    grid-row: 4/9;
}
header {
    background-color: #364958;
    display: grid;
    grid-template-columns: 150px auto;
}
footer {
    background-color: #364958;
    color: white;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: white;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
body {
    background-color: #264958;
    font-family: "Source Sans", "Helvetica", "sans-serif";
    font-size: 22px;
    margin: 0%;
    padding: 0%;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
h2 {
    margin: 0%;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer .social img {
    padding-top: 15px;
}


@media screen and (max-width: 900px) {
    #about-river, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    .home-title {
        font-size: 25px;
        color: white
    }
    #background {
        display: none;
    }
    footer {
        margin-top: 25px;
    }
}