@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=PT+Serif:wght@700&display=swap');
::content {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    background-color: black;
}
nav {
    display: grid;
    align-content: space-around;
    grid-template-columns: 1fr 1fr 1fr 2fr;
}
nav a {
    text-align: center;
    color: #e7c24f;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #353535;
}
.logo {
    width: 80px;
    margin-top: -20px;
    border: 1px solid white;
}
h1 {
    font-family: 'Noto Sans JP';
}
h3 {
    font-family: 'PT Serif', Helvetica, Sans-serif;
}
p {
    font-family: 'PT Serif', Helvetica, Sans-serif;
}
body {
    background-color: #458FBE;
    font-family: 'PT Serif', Helvetica, Sans-serif;;
    font-size: 22px;
    margin: 0%;
    padding: 0%;
}
#intro_reading {
    text-align: center;
    border: 2px solid black;
    background-color: #353535;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
}
.intro-reading {
    margin-bottom: -20px;
}
#home_intro h3 {
    font-size: 20px;
    padding: 25px;
}
.home-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #458FBE;
    font-size: 18px;
}
footer {
    background-color: black;
    color: #e7c24f;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer a {
    color: #e7c24f;
    text-decoration: none;
}
.social img:hover {
    opacity: .8;
    transform: scale(1.1);
}