.first {
    width: 50%;
    border: 2px solid black;
}
.second {
    width: 50%;
    margin: 0 auto;
    border: 2px solid black;
}
.third {
    width: 50%;
    margin-left: auto;
    border: 2px solid black;
}
.fourth {
    width: 50%;
    margin: 0 auto;
    border: 2px solid black;
}
p:nth-of-type(1) {
    text-align: left;
}
p:nth-of-type(2) {
    text-align: center;
}
p:nth-of-type(3) {
    text-align: right;
}
.fourth p:nth-of-type(1) {
    text-align: right;
}
.fourth p:nth-of-type(3) {
    text-align: left;
}
